<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main>
        <form id="new_img_form" class="hero card" action="{% url 'portfolio' %} " method="POST" enctype="multipart/form-data" style="display: none">
            {% csrf_token %}
            { form.as_p }}
            <div>Здесь приделал форму из формы джанго, с возможностью настраивать стили для лейблов и полей</div>

            {% for field in form %}
            <div class="my_field">
                <label class="my_label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}

            <button class="button" type = "submit">Добавить</button>
        </form>
        </section>
    {% if portfolio %}
        <section class="gallery">
        <div id="img_view">
            <img id="main-image" src="" alt="">
            <div id="descriptions">
                <div id="img_title">Название: <span>nazv</span></div>
                <div id="img_desc">Описание: <span>opis</span></div>
                <div id="img_date">Дата: <span>dat</span></div>
                <div id="img_urls">В сотрудничестве: <span>ssilki</span></div>
            </div>
        </div>
        <ul class="thumbs">
        {% for artwork in portfolio %}
<!--            <div class="card">-->
                <li class="thumb__block" href="{{ artwork.url }}">
                    <img class="thumb__img" src="{{ artwork.image.url }}" alt="">
                    <span hidden="hidden">{{ artwork.title }}</span>
                    <span hidden="hidden">{{ artwork.desc }}</span>
                    <span hidden="hidden">{{ artwork.date }}</span>
                    <span hidden="hidden">{{ artwork.url }}</span>
<!--                <span class="thumb__txt">{{ artwork.desc|truncatechars:20 }}</span>-->
                </li>
        {% endfor %}
        </ul>
        {% endif %}
        </section>
        <section class="hero">



        <script>
            const newImgForm = document.getElementById('new_img_form');
            let header = document.getElementsByClassName('header-right')[0];
            let button = document.createElement('button');
            button.innerHTML = 'Добавить';
            header.appendChild(button);
            button.addEventListener("click", () =>
            {
                if (newImgForm.style.display == 'none')
                {
                    newImgForm.style.display='flex';
                }
                else
                {
                  newImgForm.style.display='none';
                }


            });
        </script>


            <script>
                
                const mainBlock = document.getElementById('img_view').children;
                const mainImage=mainBlock.namedItem('main-image');
                const mainDescription = mainBlock.namedItem('descriptions').children;
                const mainImage_title=mainDescription.namedItem('img_title').children.item(0);
                const mainImage_desc=mainDescription.namedItem('img_desc').children.item(0);
                const mainImage_date=mainDescription.namedItem('img_date').children.item(0);
                const mainImage_urls=mainDescription.namedItem('img_urls').children.item(0);

                console.log(mainImage_title.textContent)
                console.log(mainImage_desc.textContent)
                console.log(mainImage_date.textContent)
                console.log(mainImage_urls.textContent)


                const thumbBlocks = document.querySelectorAll('.thumb__block');
                const firstThumbBlockContent = thumbBlocks[0];
                const thumbnail = firstThumbBlockContent.getElementsByTagName('img')[0]
                const descriptions = firstThumbBlockContent.getElementsByTagName('span')

                const title = descriptions[0]
                const desc = descriptions[1]
                const date = descriptions[2]
                const urls = descriptions[3]

                mainImage.src = thumbnail.src;
                mainImage.alt = thumbnail.alt;
                mainImage_title.textContent = title.textContent
                mainImage_desc.textContent = desc.textContent
                mainImage_date.textContent = date.textContent
                mainImage_urls.textContent = urls.textContent




                    thumbBlocks.forEach(thumbBlock =>
                    {


                        thumbBlock.addEventListener('click', () =>
                        {

                            const image = thumbBlock.getElementsByTagName('img')[0]
                            const descriptions = thumbBlock.getElementsByTagName('span')
                            const title = descriptions[0]
                            const desc = descriptions[1]
                            const date = descriptions[2]
                            const urls = descriptions[3]

                            mainImage.src = image.src;
                            mainImage.alt = image.alt;

                            mainImage_title.textContent = title.textContent;
                            mainImage_desc.textContent = desc.textContent;
                            mainImage_date.textContent=date.textContent;
                            mainImage_urls.textContent=urls.textContent;

                        });
                    });

            </script>
    </main>
{% endblock %}
