<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main>
    {% if portfolio %}
        <section class="main-window">
            <img class="main-image" src="{{ artwork.image.url }}" alt="">
        </section>
        <section class="thumbs">
        {% for artwork in portfolio %}
<!--            <div class="card">-->
                <a class="thumb__block" href="{{ artwork.url }}">
                    <img class="thumb__img" src="{{ artwork.image.url }}" alt="">
                    <span class="thumb__txt">{{ artwork.title }}</span>

<!--                    <span class="thumb__txt">{{ artwork.desc|truncatechars:20 }}</span>-->
                </a>

<!--                <div class="col-r">-->
<!--                    <a class="title card__title" href="% url 'portfolio' artwork.id %}">{{ artwork.title }}</a>-->
<!--                    <p class="card__desc">{{ artwork.desc|truncatechars:450 }}</p>-->
<!--                    <p class = "card__date">{{ artwork.date }}</p>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}
        </section>
        {% endif %}

        <section class="hero">
        <form class="hero card" action="{% url 'portfolio' %} " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
<!--            <label for="artwork">Загрузите новое изображение</label>
            <input type="file" id="artwork" name="artwork" accept="image/png, image/jpeg" />

            <label for="">Название</label>
            <input class="txt-input" type="text" name="title" value="diz_nik">
            <label for="">Описание</label>
            <input class="txt-input" type="text" name="desc" value="diz_nik">
            <label for="">Дата публикации</label>
            <input class="txt-input" type="text" name="img_data" value="2023-08-15">
            <label for="">Описание</label>
            <input class="txt-input" type="text" name="partners" value="diz_nik">-->
            <button class="button" type = "submit">Добавить</button>
        </form>
        </section>
    </main>
{% endblock %}
