{% extends 'base.html' %}
{% block content %}

    <main>
<!--        Добавить код для секции hero, отображать только после авторизации-->
        {% if request.user.username %}
        <section class="hero">
            <div class="wrapper hero-wrapper">
                <img src="{{ userprofile.image.url }}" alt="" class="my_image hero__my_image">
                <span class="my_age">Логин: {{ userprofile.username }}, Пароль: {{ userprofile.password }}</span>

                <span class="first_name">Имя: {{ userprofile.firstname }}</span>
                <span class="last_name">Фамилия: {{ userprofile.lastname }}</span>
                <span class="my_desc">Дата рождения: {{ userprofile.birth }}, Возраст: {{ age }}</span>
                <span class="my_desc">Почта: {{ userprofile.e_mail }}</span>
                <span class="my_desc">Телефон: {{ userprofile.phone }}</span>
                <a href="{% url 'portfolio' %}">Посмотреть работы</a>
                <a href="{% url 'blog' %}">Блог</a>
                <p class="first_name">Соцсети:</p>
                <p class="my_desc">Вконтакте: {{ userprofile.social_vk }}</p>
                <p class="my_desc">Одноклассники: {{ userprofile.social_ok }}</p>
                <p class="my_desc">Нельзяграм: {{ userprofile.social_inst }}</p>
                <p class="my_desc">Какойнибудь тюб: {{ userprofile.social_tube }}</p>
                <p class="my_desc">О себе: {{ userprofile.about }}</p>
            </div>
        </section>
        {% else %}
<!--        Добавить код для отображения регистрации. Только не ля авторизованных пользователей-->
        <section class="hero">
            <div class="wrapper hero-wrapper">
                <h2>Регистрация нового пользователя</h2>
                <a href="#" class="sign_link">Регистрация</a>
            </div>
        </section>
        {% endif %}
    </main>
{% endblock %}

