<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <p>photo_url image firstname lastname birth e_mail phone social_vk social_ok social_inst social_tub username password about user</p>
    {% if users %}

        <ul class="thumbs">
        {% for user in users %}
            <li class="thumb__block">
                <a class="tmb_date" href="{% url 'artists' user.username %}">{{ user.username }}</a>
                <img src="{{ user.image.url }}" alt="" class="my_image hero__my_image">
                <span class="tmb_title">{{ user.firstname }}</span>
                <span class="tmb_desc" >{{ user.lastname }}</span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</main>
{% endblock %}





 {% for field in form %}
            <div class="my_field">
                {% if field.label != 'id_img' %}
                <label class="my_label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
            {% endfor %}