<!doctype html>
{% extends 'base.html' %}
{% block content %}
        <main>
            <div class="wrapper">
                <h1 class="title title--h1">{{ page_name }}</h1>

                {% for event in events %}

                    <a href="{% url 'event' event.id %}"  class="card card-ref">
                        <div class="col-l">
                            <img class="card__img" src="{{ event.image.url }}" alt="Нет картинки">
                        </div>

                        <div class="col-r">
                            <div class="card__title">
                                <p class="title">{{ event.title }}</p>
                                <p class = "card__date">{{ event.date }}</p>
                            </div>
                            <p class="card__desc">{{ event.desc|truncatechars:450 }}</p>

                        </div>
                    </a>

                {% endfor %}
            </div>
        </main>
{% endblock %}
