<!doctype html>
{% extends 'base.html' %}
{% block content %}
        <main>
            <div class="wrapper">
                <h1 class="title title--h1">{{ page_name }}</h1>

                {% for contest in contests %}

                    <a href="{{ contest.contestRef }}"  class="card card-ref">
                        <div class="col-l">
                            <img class="card__img" src="data:image/jpg;base64,{{ contest.contestImgBase64 }}" alt="Нет картинки">
                        </div>

                        <div class="col-r">
                            <div class="card__title">
                                <h4 class="title">{{ contest.contestName }}</h4>
                                <p class = "card__date">{{ contest.contestRef }}</p>
                            </div>


                            {% for desc in contest.contestDesc %}
                                <div class="card__desc">{{ desc }}</div>
                            {% endfor %}
                        </div>
                    </a>

                {% endfor %}
            </div>
        </main>
{% endblock %}
