<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
    <td>
    <table border="0" cellpadding="0" cellspacing="10" id="NEW" width="600">
        <tr>
        <td>  </td>
        </tr>
    </table>
    <table bgcolor="f0f0f0" border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
        <td width="100"><a href="activity/2023/kerama_marazzi_grand_prix.htm"><img alt="Гран-при KERAMA MARAZZI" border="0" class="animate2" src="s/partners/kerama_marazzi/contest23/kv.jpg" width="100"/></a></td>
        <td width="1"> </td>
        <td>
        <h3><a href="activity/2023/kerama_marazzi_grand_prix.htm">Гран-при
                                  KERAMA MARAZZI</a></h3>
        </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="11" width="600">
        <tr>
        <td><b>Регистрация: </b>до<b> 07.11.23</b>, прием работ
                                до: <b>07.11.23</b></td>
        </tr>
        <tr>
        <td><b>Тип участия</b>: бесплатный</td>
        </tr>
        <tr>
        <td><b>Награды:</b> <b>5 000 000 ₽</b></td>
        </tr>
        <tr>
        <td><b>Задача:</b> прислать фото реализванного проекта с
                                использованием продукции организатора</td>
        </tr>
        <tr>
        <td><b>Страна организатора:</b> Россия</td>
        </tr>
        <tr>
        <td><b>Статус</b>: международный</td>
        </tr>
        <tr>
        <td><b>Тематика:</b> дизайн интерьера</td>
        </tr>
    </table>
    </td>
    </tr>
</table>





</body>
</html>