<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="{% static '' %}{{ page_style }}/css/style.css">
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav class="nav_wrapper">
<!--                Вот сюда бы импортировать питоновский код с именами приложений-->
                <div class="info-block">
                    <a href="{% url 'home' %}" class="link">Главная</a>
                    <a href="{% url 'standards' %}" class="link">Нормативы</a>
                    <a href="{% url 'issues' %}" class="link">Обсуждения</a>
                    <a href="{% url 'events' %}" class="link">События</a>
                    <a href="{% url 'contests' %}" class="link">Конкурсы</a>
                </div>
                <div class="base-block">
                    <a href="{% url 'artists' %}" class="link">Проектанты</a>
                    <a href="{% url 'partners' %}" class="link">Партнеры</a>
                </div>
            </nav>
            <div class="header-right ">
        <!--        Добавить код проверки на авторизацию-->
                {% if request.user.username %}
                    <a href="{% url 'logoutuser' %}" class="link link-primary">Выход</a>
                {% else %}
                    <a href="{% url 'reguser' %}" class="link">Регистрация</a>
                    <a href="% url 'login' %}" class="link link-primary">Вход</a>
                {% endif %}
                <a href="{% url 'admin:index' %}" class="link">Админка</a>
        <!--        Добавить код, если пользователь авторизовался-->

            </div>
        </div>
    </header>
{% block content %}
{% endblock %}
    </body>
</html>