
.title{
    color:black;
    font-family: sans-serif;
    margin:0;
    padding:0;
    font-weight: 700;

}
.title--h1{
    font-size:44px;
    line-height:60px;
    justify-content: center;
    display: flex;
}

.card{
    display:flex;
    width:100%;
    padding-top: 40px;
    padding-bottom: 45px;
    /*border-bottom: 1px solid #142850;*/
    background-color: #e1e4e7;
    margin: 20px 0;
    border-radius:26px;
    box-shadow: 3px 3px 10px #343c3d;
}

.card__img{
    width:245px;
    height:auto;
    object-fit:cover;
    border-radius:16px;
    border: #343c3d solid 5px;
    box-shadow: 3px 3px 10px #343c3d;
}

.card__title{
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*text-decoration:none*/
    background: #b2bbbb;
    border-radius:16px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #343c3d;
}

.card__title2{
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*text-decoration:none*/
    background: #9b4235;
    border-radius:16px;
    padding: 10px 20px;
}

.card__date{
    width:30%;
    height: 25px;
    min-width:220px;
    border-radius: 16px;
    background-color: #142850;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    color:#FFF;
    margin-left: 20px;
    box-shadow: 3px 3px 10px #343c3d;
}

.col-r{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    width:100%;
}

.col-l{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.card__desc{
    /*padding-top: 5px;*/
    /*position: relative;*/
    /*display: flex;*/
    /*font-size:16px;*/
    /*font-weight: 400;*/
    /*letter-spacing: 0;*/
    /*color: black;*/
    /*background-color: white;*/
}


.card__desc__row{
    padding-top: 5px;
    position: relative;
    display: flex;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 0;
    color: black;
}

/*.card__desc:before {*/
/*    content:'';*/
/*    width:100%;*/
/*    height:100%;*/
/*    position:absolute;*/
/*    left:0;*/
/*    top:0;*/
/*    background:linear-gradient(transparent 0px, white);*/
/*  }*/

.card-ref{
    text-decoration: none;
}